.login-container {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  form {
    width: 100%;
  }

  .login-content {
    width: 400px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .login-toolbar {
    justify-content: center;
  }

  mat-form-field {
    width: 100%;
    display: block;
  }

  .form-group {
    display: flex;
  }

  .mat-form-field,
  button[type="submit"] {
    flex: 1;
    margin: 0 5px;
    height: 50px;
  }

  mat-error {
    color: #f44336;
    font-size: 25px;
  }

  .errorMessage {
    margin-top: 20px;
    text-align: center;
  }
