<div>
    <h2>Types</h2>
    <ul>
      <li *ngFor="let type of this.types">
        {{ type.nameType }} - {{ type.price }}
        <button (click)="onEdit(type)">Edit</button>
      </li>
    </ul>

    <form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="nameType">Name Type:</label>
        <input id="nameType" formControlName="nameType">
      </div>
      <div>
        <label for="price">Price:</label>
        <input id="price" formControlName="price" type="number">
      </div>
      <button type="submit">{{ editingType ? 'Update' : 'Add' }} Type</button>
      <button type="button" (click)="onCancel()" *ngIf="editingType">Cancel</button>
    </form>
  </div>
