
.home-image {
  margin-top: 25px;
  width: 100px;
  height: auto;
  cursor: pointer;
}
  .navbar{
    justify-content: space-between;
  }
  span{
    padding-right: 3rem;
  }
  .menu-functions a {
    color: inherit;
    text-decoration: none;
}
.menu-functions a:hover{
  background-color: #1e668f;
}
