<div class="chat-container" *ngIf="isChatOpen">
  <div class="chat-title">
    <span>Chat</span>
    <button (click)="closeChat()">X</button>
  </div>
  <div class="chat-messages">
    <div *ngFor="let message of messages">
      <p
        [ngClass]="{
          'my-message': message.username === username,
          'message': message.username !== username
        }"
      >
        {{ message.username }}: {{ message.content }}
      </p>
    </div>
  </div>
  <div class="chat-input">
    <input
      type="text"
      placeholder="Write a message..."
      [(ngModel)]="newMessage.content"
    />
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="sendMessage()"
    >
      Send
    </button>
  </div>
</div>
<button class="chat-button" type="submit" mat-raised-button color="primary" (click)="toggleChat()">
  Chat
</button>
