.chat-container {
  position: fixed;
  margin-bottom: 70px;
  bottom: 20px;
  right: 109px;
  width: 340px;
  height: 400px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.chat-title {
  background-color: #673AB7;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-messages {
  overflow-y: auto;
}

.chat-messages p {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 10px;
  word-wrap: break-word;
}

.my-message {
  text-align: right;
  background-color: #DCF8C6;
  align-self: flex-end;
}

.message {
  text-align: left;
  background-color: #F0F0F0;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 24px;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 70px;
}