  .dash-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    max-width: 1200px;
    margin-left: 250px;
  }

  .charts-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .chart-container {
    flex: 1 1 calc(45% - 20px);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px grey;
    background-color: white;
    max-width: 50%;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .chart-container .title {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .chart-wrapper {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  canvas {
    max-width: 100%;
    max-height: 100%;
  }
