<div class="review-container mat-elevation-z8">
  <h2>Technicians</h2>
  <p>Review and rate our technicians below:</p>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let technician of technicians" (click)="selectTechnician(technician)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ technician.firstName }} {{ technician.lastName }}&nbsp;&nbsp;&nbsp;{{ technician.avgGrade }}
          <mat-icon>star</mat-icon> ({{ technician.countGrade }})
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="selectedTechnician && selectedTechnician === technician">
        <h3>Reviews for {{ technician.firstName }}</h3>
        <div class="reviews">
          <ul>
            <li *ngFor="let review of selectedTechnicianReviews">
              <strong>User:</strong> {{ review.userFirstName }} {{ review.userLastName }} <br />
              <strong>Grade:</strong> {{ review.grade }} <mat-icon>star</mat-icon> <br />
              <strong>Description:</strong> {{ review.description }} <br />
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="this.IsLogged">
        <form>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                name="Description"
                [(ngModel)]="addReview.description"
                required
                #review="ngModel"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Grade</mat-label>
              <mat-select [(ngModel)]="addReview.grade" name="grade" required>
                <mat-option *ngFor="let grade of grades" [value]="grade">{{ grade }} &#11088;</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="setReview(addReview.description, addReview.grade, technician.username)">
              Submit
            </button>
          </mat-card-content>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
