<div class="home-container-parrent">
  <div class="home-container">
    <h1>Welcome to Support Tech</h1>
    <h4>Your go-to destination for all tech support needs</h4>
    <button
      mat-raised-button
      color="warn"
      (click)="bookNow()"
    >
      Book now
    </button>
  </div>
</div>
<div class="our-support">
  <div class="features">Features</div>
  <div class="title-features">Our Support Tech Features</div>
  <div class="description-features">
    Experience top-notch support with our key features
  </div>
  <div class="containers">
    <div class="container">
      <h2 class="title">Expert Technicians</h2>
      <p class="description">
        Assistance from skilled and knowledgeable professionals
      </p>
    </div>

    <div class="container">
      <h2 class="title">Remote Troubleshooting</h2>
      <p class="description">Resolve issues quickly with remote support</p>
    </div>

    <div class="container">
      <h2 class="title">Knowledge Base</h2>
      <p class="description">Access a wealth of information for self-help</p>
    </div>

    <div class="container">
      <h2 class="title">Multi-Platform Support</h2>
      <p class="description">
        Help available for various devices and operating systems
      </p>
    </div>
  </div>
</div>

<div class="review">
  <div class="title-review">
    <h1>Expert Technical Support at Your Fingertips</h1>
  </div>
  <div class="description-review">
    <h4>
      Our team of skilled technicians is here to provide you with top-notch
      technical support for all your devices and software. Whether you need
      troubleshooting, installations, or general tech advice, we've got you
      covered.
    </h4>
  </div>
  <div class="button-review">
    <button
    mat-raised-button
    color="warn"
    (click)="learnMore()"
  >
    Learn More
  </button>
  </div>
</div>

<div class="faq-parrent">
  <div class="Faq">
    <div class="faq-title">
    <h1>FAQ</h1>
    <h2>Common questions</h2>
    <h4>Here are some of the most common questions that we get.</h4>
    </div>
    <div class="faq-section">
      <h3 class="faq-question">How do I contact tech support?</h3>
      <p class="faq-answer">
        You can contact our tech support team by email at serviceapp324&#64;gmail.com.
      </p>
    </div>

    <div class="faq-section">
      <h3 class="faq-question">What are your tech support hours?</h3>
      <p class="faq-answer">
        Our tech support team is available from 9AM to 5PM to assist you with any technical
        issues.
      </p>
    </div>

    <div class="faq-section">
      <h3 class="faq-question">Do you offer remote tech support?</h3>
      <p class="faq-answer">
        No, but it's available forum where you can ask anthoer user for problems.
      </p>
    </div>

    <div class="faq-section">
      <h3 class="faq-question">
        How long does it typically take to resolve a tech issue?
      </h3>
      <p class="faq-answer">
        The time to resolve a tech issue can vary depending on the complexity of
        the problem, but our team works efficiently to provide timely solutions.
      </p>
    </div>

    <div class="faq-section">
      <h3 class="faq-question">
        What types of devices do you provide tech support for?
      </h3>
      <p class="faq-answer">
        Our specialists are the best in computer problems, but they can take a look at another devices.
      </p>
    </div>
  </div>
</div>
