<div class="home-container-parrent">
    <div class="home-container">
        <h1>Welcome to Support Tech</h1>
        <h4>Your go-to destination for all tech support needs</h4>
        <button
          class="deleteQuestion"
          mat-raised-button color="warn"
          (click)="bookNow()"
        >
          Book now
        </button>
    </div>
</div>
<div class="our-support">
    <div class="features">
        Features
    </div>
    <div class="title-features">
        Our Support Tech Features
    </div>
    <div class="description-features">
        Experience top-notch support with our key features
    </div>
    <div class="containers">
    <div class="container">
        <h2 class="title">Expert Technicians</h2>
        <p class="description">Assistance from skilled and knowledgeable professionals</p>
      </div>

      <div class="container">
        <h2 class="title">Remote Troubleshooting</h2>
        <p class="description">Resolve issues quickly with remote support</p>
      </div>

      <div class="container">
        <h2 class="title">Knowledge Base</h2>
        <p class="description">Access a wealth of information for self-help</p>
      </div>

      <div class="container">
        <h2 class="title">Multi-Platform Support</h2>
        <p class="description">Help available for various devices and operating systems</p>
      </div>
    </div>
</div>

<div class="review">
  <div class="title-review">
    Expert Technical Support at Your Fingertips
  </div>
  <div class="description-review">
    Our team of skilled technicians is here to provide you with top-notch technical support for all your devices and software. Whether you need troubleshooting, installations, or general tech advice, we've got you covered.
  </div>
</div>