<div class="profile">
  <h2>Profil utilizator</h2>
  <div>
    <p><strong>Username:</strong> {{ userProfile.username }}</p>
    <p><strong>Email:</strong> {{ userProfile.email }}</p>
    <p>
      <strong>Nume:</strong> {{ userProfile.firstName }}
      {{ userProfile.lastName }}
    </p>
    <p><strong>Telefon:</strong> {{ userProfile.phone }}</p>
  </div>
</div>

<div *ngIf="appointments.length > 0">
  <table class="appointments">
    <thead>
      <tr>
        <th>Nume</th>
        <th>Date</th>
        <th>Mecanic</th>
        <th>Telefon Mecanic</th>
        <th>Email Mecanic</th>
        <th>Status</th>
        <th>Acțiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.nameType }}</td>
        <td>{{ appointment.date | date : "dd/MM/yyyy HH:mm:ss" }}</td>
        <td>
          {{ appointment.mechanicFirstName }} {{ appointment.mechanicLastName }}
        </td>
        <td>{{ appointment.mechanicPhone }}</td>
        <td>{{ appointment.mechanicEmail }}</td>
        <td>{{ appointment.status }}</td>
        <td>
          <button
            *ngIf="
              appointment.idAppointment !== undefined &&
              appointment.status === 'Pending'
            "
            (click)="
              updateAppointmentStatus(appointment.idAppointment, 'Canceled')
            "
          >
            Cancel
          </button>
          <button
            *ngIf="
              appointment.idAppointment !== undefined &&
              (userProfile.role !== 'custom' ||
                appointment.status === 'Pending')
            "
            (click)="updateAppointmentStatus(appointment.idAppointment, 'Done')"
          >
            Done
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="haveAppointment">Nu aveti programari</div>
