.profile {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.profile h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.profile div {
  margin-bottom: 10px;
}

.appointments {
  width: 100%;
  border-collapse: collapse;
}

.appointments th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.appointments td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

td button:first-child{
margin-right: 16px;
}

.appointments button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.no-appointments {
  font-style: italic;
  color: #ffffff;
}

img {
  width: 100%;
  height: 150px;
}

table {
  width: 100%;
}

.mat-table {
  background-color: #fff; /* Setează culoarea de fundal la alb */
}
