.compari-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.compari-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.compari-item {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.compari-item img {
  width: 100%;
  height: 150px;
}

.name-test {
  width: 100%;
  height: 100px ;
}

.compari-test {
  place-self: center;
}

.search-container-parrent {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}