.forum-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.question-container p {
  font-size: 16px;
}

.answers-container {
  margin-top: 20px;
}

.answer-item {
  margin-bottom: 20px;
}

.answer-item p {
  font-size: 16px;
  margin-bottom: 5px;
}

.answer-item {
  border: 2px solid #ccc;
  padding: 10px;
}

.answer-username {
  font-weight: bold;
}

.answer-description {
  margin-top: 5px;
}

.questions-container {
  max-width: 800px;
  margin: auto;
}

.add-question-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.add-question-form mat-form-field {
  width: 100%;
}
.add-question-form button {
  align-self: flex-end;
}

.questions-container .mat-table {
  width: 100%;
  overflow: auto;
  max-width: 100%;
}

.questions-container .header-cell {
  font-weight: bold;
  background-color: #f1f1f1;
}

.questions-container .cell {
  padding: 16px;
}


.small-table {
  max-width: 800px;
  margin: 0 auto;
}

.mat-list-item {
  display: flex;
  flex-direction: column;
}

.add-answear-form{
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 800px auto;
}