<div class="mechanics-column">
  <h2>Mechanics</h2>
  <div
    *ngFor="let mechanic of mechanics"
    [ngClass]="{ selected: mechanic === selectedMechanic }"
  >
    <div class="mechanic-info">
      <p>{{ mechanic.firstName }} {{ mechanic.lastName }}</p>
      <p>Email: {{ mechanic.email }}</p>
      <p>Phone: {{ mechanic.phone }}</p>
      <button (click)="selectMechanic(mechanic)">Select</button>
    </div>
    <hr />
  </div>
</div>

<div class="types-column">
  <h2>Types</h2>
  <div
    *ngFor="let type of types"
    [ngClass]="{ selected: type === selectedType }"
  >
    <div class="type-info">
      <p>Type: {{ type.nameType }}</p>
      <p>Price: {{ type.price }}</p>
      <button (click)="selectType(type)">Select</button>
    </div>
    <hr />
  </div>
</div>

<div class="selected-options" *ngIf="selectedMechanic && selectedType">
  <h2>Selected Options</h2>
  <p>
    Selected Mechanic: {{ selectedMechanic.firstName }}
    {{ selectedMechanic.lastName }}
  </p>
  <p>Selected Type: {{ selectedType.nameType }}</p>

  <div *ngIf="selectedMechanic && selectedType">
    <mat-form-field class="example-full-width">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepickerFilter]="myFilter"
        [matDatepicker]="picker"
        (dateChange)="onDateTimeChange($event)"
        [(ngModel)]="selectedDateTime"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker timezone="UTC"></mat-datepicker>
    </mat-form-field>

    <div class="orar-column" *ngIf="orar.length > 0">
      <h2>Mechanic Schedule</h2>
      <div *ngFor="let interval of orar">
        <button class = "selectedAppointment"
        (click)="setSelectedDateTimeFinal(interval)">
          {{ interval }}
        </button>
      </div>
    </div>
    <div *ngIf="selectedDateTimeFinal">
      <p>
        Selected Date and Time:
        {{ selectedDateTimeFinal}}
      </p>
    </div>
  </div>
  <button (click)="AddAppointment()">Add Appointment</button>
</div>
