::ng-deep .mat-tab-labels {
  display: none;
}

  .technicians-column, .types-column {
    float: left;
    width: 45%;
    padding: 0 2%;
    box-sizing: border-box;
  }

  .technician-info, .type-info {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .orar-column{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .div-nou{
    width: 400px;
    height: 300px;
  }

  .selected {
    background-color: #ffcc00;
  }

  .selected-options {
    clear: both;
    margin-top: 20px;
  }

  .weekend-disabled::placeholder {
    color: #999;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .selectedAppointment {
    background-color: #007bff;
    color: #fff;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }

  .selectedAppointment.selected {
    background-color: #0056b3;
    font-weight: bold;
  }

  .example-button-row button,
  .example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.info{
  display: flex;
  justify-content: center;
}

.info-detail{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid red;
  width: 300px;
  height: 200px;
}